{
  "trailingComma": "all",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrayBracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 100,
  "arrowParens": "avoid"
}
